<div class="container">
  <h1>Welcome to Butters TV, Here are all the channels!</h1>
  <% @channels.each do |channel| %> 
  <li> <%= channel.name %> </li>
  <% end %>
  <br>
  <a href="/login">Log in</a> or 
  <a href="/users/new"> Register as a new user</a>
</div>