<div class="container">

    <h1> Register with an email and password</h1>

    <form action="/login" method="post">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" />
        <br>

        <label for="last_name">Last name:</label> 
        <input type="text" name="last_name" />
        <br>

        <label for="email">Your email:</label>
        <input type="text" name="email" />
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" />
        <br>

        <input type="submit" value="Register">
    </form>
</div>